.App{
  padding-top: 0px;
  background-color: #eee;
}

svg {
  background : #eee;
  overflow:visible;
}

.navbar {
  display: flex;
  height:80px;
  /* background-color: #5A387B; */
  /* background-color:#7a559e; */
  background-color:#48659a;
  padding-bottom: 10px;
  position: sticky;
  top: 0;
  left: 0;
}

.navbuttons {
  flex:1;
  position:absolute;
  right: 5px;
}

.navbutton {
  font-size: 20px;
  height: 80px;
  padding:10px;
  margin-left: 5px;
  border: none;
  color: #FF7900;
  /* background-color:#72489a; */
  background-color: #48659a;
  font-weight: bold;
}
.navbutton:focus {
  outline:0;
  /* background-color: #633291; */
  background-color: #2d4168;
}

.modal {
  display:block;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 25px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 10px;
  border-radius: 10px;
  width: 50%;
}

.logo {
  position:absolute;
  left: 10px;
  height:80px;
  flex:1;
}

.aboutblock {
  flex:1;
  background-color: #fca556;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  display: block;
}

.biglogo {
  width: 30%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.aboutpicture {
  flex:1;
}

.aboutcontainer {
  margin:auto;
  display:flex;
  margin-bottom: 10px;
}

.profilephoto {
  transition: transform 0.2s;
  width: 200px;
  border-radius:50%;
  margin: 10px;
}

.photohide {
  transition: transform 0.2s;
  width: 200px;
  border-radius:50%;
  margin: 10px;
  display: none;
}

.photocontainer {
  width: 50%;
  margin: 10px;
  display:flex;
  flex-direction: column;
}

.photorow {
  flex:1;
  margin: auto;
}

.profilephoto:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.2); 
}

.content-container{
  /* width:100vw; */
  display:flex;
  padding:0px;
  /* flex-direction: row; */
}

.map-container{
  flex:0.5;
}
.sankeyContainer{
  flex:0.5;
  padding-top: 20px;
}
.sankeyContainerOut{
  flex:0.5;
  padding-top: 20px;
}

.topContainer{
  display: flex;
  flex-direction: row;
}
.selection-container{
  margin: 10px;
  padding: 5px;
  width:550px;
  background-color: lightgray;
}

.selected-county-container{
  margin: 10px;
  margin-left: 200px;
  padding-left: 20px;
  padding-right: 20px;
  width: 430px;
  border-style: solid;
  border-width: medium;
  border-radius: 20px;
  border-color: #FF7900;
  
}

.selected-county-container h3{
  text-align: center;
  margin-bottom: 3px;
}

.close {
  font-weight: bold;
  text-align: right;
  margin-top: 2px !important;
}

.orange {
  color: #FF7900;
}

.blue {
  color: rgb(0,95,255);
}

h2 {
  margin-bottom: 5px !important;
}

.infotext {
  max-width: 300px;
  padding-left: 20px;
  /* font-weight: bold; */
  font-style: italic;
}

.placeholderContainer {
  flex: 1;
  position: relative;
  top: -100px;
  left: 150px;
  margin: auto;
  text-align: center;
  width: 100%;
}

.centeredSliderValue {
  text-align: center;
}

#genderButton {
  margin: 10px;
}

.genderTitle {
  text-align: center;
}

.addMargin {
  margin-left: 10px;
}