.dropDownContainer{
    width:50%;
    height:100%;
    background-color: rgba(155,155,155,0.8);
}
.county{
    /* position:relative for tooltip  */
    position:relative;
  }

/* .tooltip {
    position: absolute;
    opacity: 0.75;
    background-color: blue;
    font-family: sans-serif;
    font-weight: bold;
    color: white;
    padding: 5px;
}
div.tooltip {	
    position: absolute;			
    text-align: center;			
    width: 60px;					
    height: 28px;					
    padding: 2px;				
    font: 12px sans-serif;		
    background: lightsteelblue;	
    border: 0px;		
    border-radius: 8px;			
    pointer-events: none;			
}
.tooltip p {
    font-size: 10px;
    padding: 1px;
    margin: 1px; 
} */
.tooltip-area{
    cursor:default;
    /* background-color: rgba(114, 138, 165, 0.8) */
}